body {
  background-color: pink;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.i {
  font-style: italic;
  }
  
  h2 {
  }

  #helloSection {
    
    background: black;
      font-style: oblique;
      color: rgb(180, 245, 200);
      box-shadow: 0 5px 5px rgb(105, 255, 185);
    }
  
  #links {
  background: black;
    color: pink;
    box-shadow: 0 5px 5px hotpink;
  }
  
  
  
  #header a {
  text-decoration: none;
  }